@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/Raleway-Light.woff2) format("woff2");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.outlet {
  flex: 3.5;
  min-height: 500px;
  display: block;
  padding: 20px;
  min-width: 0;
}

.page {
  background: #303030;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-internal {
  display: flex;
  flex-direction: row;
}

card {
  margin: 20px;
  flex: 1;
  max-width: 400px;
}

@media all and (max-width: 500px) {
  .container-internal {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  card {
    max-width: 500px;
  }
}
