<div class="photo" *ngFor="let set of photos">

  <div class="home-map">
    <div id="gmap{{set.folder}}" style="width:100%; height:130px; border-top-left-radius: 2px; border-top-right-radius: 2px; background: #000;"></div>
    <div class="home-map-internal">

      <div class="photos">
        <div class="wrapper">
          <p>{{set.folder}}</p>
          <div class="photo" *ngFor="let photo of set.images">
            <a href="/api/photo-original/{{set.folder}}/{{photo}}"><img src="/api/photo/{{set.folder}}/{{photo}}"/></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

