.photos {
  column-count: 1;
  column-gap: 15px;
}

@media (min-width: 890px) {
  .photos {
    column-count: 2;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .photos {
    column-count: 3;
    max-width: 100%;
  }
}

.photo {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.photo >>> img {
  border-radius: 2px;
  height: auto;
  width: 100%;
  cursor: zoom-in;
}

.home-map {
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  background: #202020;
}

.home-map-internal {
  padding: 24px;
}

.collection-title {
  text-align: center;
  color: #fff;
}
