<div class="projects">

  <div class="project" *ngFor="let project of projects">
    <p>{{ project.subheader }}</p>
    <h3>{{ project.header }}</h3>
    <p *ngFor="let description of project.description">
      {{ description }}
    </p>

    <button type="button" *ngIf="project.repo != null">
      <a href="{{ project.repo }}"><img alt="Github repo" src="/assets/github-fa-black.svg"/> source</a>
    </button>

    <button type="button" *ngIf="project.website != null">
      <a href="{{ project.website }}">website</a>
    </button>

    <button type="button" *ngIf="project.releases != null">
      <a href="{{ project.releases }}">binary</a>
    </button>
  </div>
</div>

