@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css";

@font-face {
  font-family: "PlayfairDisplay";
  src:  url(/assets/PlayfairDisplay-Regular.woff2) format("woff2"),
  url(/assets/PlayfairDisplay-Regular.ttf) format("truetype");
}

.title {
  font-size: 64px;
  font-family: 'PlayfairDisplay', sans-serif;
  margin: auto;
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
}

.date {
  text-align: right;
  font-size: 12px;
  max-width: 700px;
  margin: auto;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

.post-wrap {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
  font-size: 16px;
  text-decoration: none !important;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  margin: auto;
}

.post-body >>> h1 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: normal;
  font-size: 42px;
}

.post-body >>> h2 {
  font-family: 'PlayfairDisplay', sans-serif;
  font-weight: normal;
  font-size: 38px;
}

.post {
  border-radius: 2px;
  padding: 12px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  background: #ffffff;
  display: block;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  margin: auto;
  max-width: 75%;
}

@media all and (max-width: 500px) {
  .post {
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .post-body {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    margin: 0;
  }
}
